//variables

//colores
$primerColor: sandybrown;
$portadaColor: peru;
$segundoColor: black;
$footerColor: lightslategray;
$footerColor2: rgb(113, 128, 143);

//fuente
$mainFont: "Nanum Gothic', sans-serif";
$importanteFont: "'Barlow', sans-serif;", bold;

//sizies
$fontXL: 4rem;
$fontL: 3rem;
$fontM: 1.50rem;
$fontS: 1rem;
$fontXS: .75em;         


//